<!DOCTYPE html>
<html>
<head>
<title>Attendance Report</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h2 style="text-align:center;">Attendance Report</h2>

<form method="GET" style="text-align:center;">
<input type="text" name="search" placeholder="Search Student Name">
<button>Search</button>
</form>

<table>
<tr>
<th>Name</th>
<th>Year</th>
<th>Semester</th>
<th>Section</th>
<th>Date</th>
<th>Time</th>
</tr>

{% for row in data %}
<tr class="{% if row[4]==today %}today{% endif %}">
<td>{{row[0]}}</td>
<td>{{row[1]}}</td>
<td>{{row[2]}}</td>
<td>{{row[3]}}</td>
<td>{{row[4]}}</td>
<td>{{row[5]}}</td>
</tr>
{% endfor %}
</table>

<div style="text-align:center;">
<a href="/" class="back-btn">⬅ Go Back</a>
</div>

</body>
</html>